# Random Forest trong Python

- Võ Minh Tùng
- Master HCMUT AI đại học Bách Khoa Tp. Hồ Chí Minh

#### Trong bài này chúng ta làm việc với tập dữ liệu bitcoin:
- bitcoin_int.csv: data and labels

#### Mục tiêu:
- Hiểu được cách xử lí dữ liệu
- Áp dụng mô hình Decision Tree để phân loại dữ liệu

https://www.kaggle.com/c/titanic/data

##### Đặc tả dataset:

In [3]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics
%matplotlib inline

In [4]:
dataset = pd.read_csv('bitcoin_int.csv')
#test = pd.read_csv('Titanic_test.csv')

## 1) Khám phá dữ liệu

In [5]:
dataset.head()

  WeekYear  CN  T2  T3  T4  T5  T6  T7  Direction
0  2017-45   3  -5  -1   7  -4  -6  -7          0
1  2017-46  -3   5   2  10   7   2  -1          1
2  2017-47   3   4   1  -2   0   0   6          1
3  2017-48   6   4   4   4  -9  11   5          1
4  2017-49   7  -4   4   8  20  -2 -10          1

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   WeekYear   336 non-null    object
 1   CN         336 non-null    int64
 2   T2         336 non-null    int64
 3   T3         336 non-null    int64
 4   T4         336 non-null    int64
 5   T5         336 non-null    int64
 6   T6         336 non-null    int64
 7   T7         336 non-null    int64
 8   Direction  336 non-null    int64
dtypes: int64(8), object(1)
memory usage: 23.8+ KB

In [7]:
dataset.describe(include=['object', 'bool'])

       WeekYear
count       336
unique      336
top     2017-45
freq          1

## 2) Phân tích ý nghĩa các `features`

## 3) Xử lí dữ liệu

Sau khi phân tích dữ liệu, xác định ý nghĩa các `features`,  chúng ta sẽ xử lí dữ liệu, tạo ra các `features` mới, quyết định xem nên dùng hay bỏ `features` nào trong khi xây dựng models. Có nhiều cách để  xây dựng bộ `features` cho models, dưới đây chỉ là một trong số đó, giống với cách đã sử dụng trong bài Labs về Decision Tree:

In [8]:
# Loading the data
dataset = pd.read_csv('bitcoin_int.csv')
# bit coin dataset
x = dataset.drop(['Direction','WeekYear'], axis=1)
y = dataset['Direction']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2) # 70% training and 30% test

In [33]:

# Fill "S" for null values in  the Embarked column
for dataset in full_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
# Fill values for  NULLS in the Fare column
for dataset in full_data:
    dataset['Fare'] = dataset['Fare'].fillna(train['Fare'].median())

In [34]:
#Xử lí missing data cho cột "Age"
for dataset in full_data:
    age_avg = dataset['Age'].mean()
    age_std = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)
    # Next line has been improved to avoid warning
    dataset.loc[np.isnan(dataset['Age']), 'Age'] = age_null_random_list
    dataset['Age'] = dataset['Age'].astype(int)

In [35]:
pd.isnull(train).any() | pd.isnull(test).any()

Age            False
Cabin           True
Embarked       False
Fare           False
Name           False
Parch          False
PassengerId    False
Pclass         False
Sex            False
SibSp          False
Survived       False
Ticket         False
dtype: bool

In [36]:
import re

In [37]:
# Add values for NULLS in the Age column
for dataset in full_data:
    age_avg = dataset['Age'].mean()
    age_std = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)
    # Next line has been improved to avoid warning
    dataset.loc[np.isnan(dataset['Age']), 'Age'] = age_null_random_list
    dataset['Age'] = dataset['Age'].astype(int)

# Define function to extract titles from passenger names
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""

for dataset in full_data:
    dataset['Title'] = dataset['Name'].apply(get_title)
# Group all non-common titles into one single grouping "Rare"
for dataset in full_data:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

for dataset in full_data:
    # Mapping Sex
    dataset['Sex'] = dataset['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
    
    # Mapping titles
    title_mapping = {"Mr": 1, "Master": 2, "Mrs": 3, "Miss": 4, "Rare": 5}
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

    # Mapping Embarked
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
    
    # Mapping Fare
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] 						        = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] 							        = 3
    dataset['Fare'] = dataset['Fare'].astype(int)
    
    # Mapping Age
    dataset.loc[ dataset['Age'] <= 16, 'Age'] 					       = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age'] ;

In [20]:
X_train.head()

     CN  T2  T3  T4  T5  T6  T7
71    0   0   1   0  -1   1   0
264   0  -2   1   3   1   0   0
1    -3   5   2  10   7   2  -1
201   1  -3   5   3  -1   0   2
301   0   0  -1  -1  -4  -7   0

### Loại bỏ những features không cần thiết

In [39]:
# Feature selection: remove variables no longer containing relevant information
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp']
train = train.drop(drop_elements, axis = 1)
test  = test.drop(drop_elements, axis = 1)

In [40]:
train.head()

   Survived  Pclass  Sex  Age  Parch  Fare  Embarked  Title
0         0       3    1    1      0     0         0      1
1         1       1    0    2      0     3         1      3
2         1       3    0    1      0     1         0      4
3         1       1    0    2      0     3         0      3
4         0       3    1    2      0     1         0      1

## 3) Sử dụng RandomForest

In [11]:
X_train.head()

     CN  T2  T3  T4  T5  T6  T7
49    1   8  -2   1  -2  -1   0
320   0   0  -4   2  -1  -2   2
99   -2   3   1  -1  -1   0  -2
127   5  -5   2  -3   4   1   2
244  -4  -1  -4   0   4   0   2

In [1]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=7000,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features=500,
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [24]:
y_pred = rf.predict(X_test)
y_pred

array([0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1], dtype=int64)

In [ ]:
##### Evaluation

In [2]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

NameError: name 'metrics' is not defined

## Bài tập:

- Hãy phân tích và  xây dựng các bộ  `features` mới và sử dụng để xây dựng model, so sánh kết quả với model phía trên.
- Hãy chia  thành 2 phần: `train` và `test` và thử kết quả, so sánh độ chính xác